.box {
  --borderradius: 14px;
  --bgsize: 0.38rem;
  padding: 1rem;
  border: 1px solid;
  position: relative;
  background: white;
  border-radius: var(--borderradius, 14px);
  transform: translateY(-2px);
  z-index: 2;
  transition: transform 0.2s ease;
}

.box:hover {
  transform: translateY(-4px);
}

.box::before,
.box::after {
  border-radius: var(--borderradius, 14px);
  background-image: linear-gradient(
    45deg,
    #fff 33.33%,
    rgba(0, 0, 0, 0.95) 33.33%,
    rgba(0, 0, 0, 0.95) 50%,
    #fff 50%,
    #fff 83.33%,
    rgba(0, 0, 0, 0.95) 83.33%,
    rgba(0, 0, 0, 0.95) 100%
  );
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  top: 0.75rem;
  left: 0.75rem;
  width: 100%;
  height: 100%;
  background-size: var(--bgsize, 0.28rem) var(--bgsize, 0.28rem);
}

.box::before {
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
}

.title {
  margin: 0 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.list {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.listItem {
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
}

.value {
  font-weight: bold;
  margin-left: 0.5rem;
}

.cardHeader{
    padding-bottom: 10px;
    text-transform: capitalize;
}